/* Reference elements */
:root{
    font-family: 'Segoe UI', Arial, sans-serif;
    --font-family-2: 'Lato', sans-serif;
    font-weight: 400;
    --whiteBackG-primary-color: black;
    --whiteBackG-sec-color: grey;
    --blackBackG-primary-color: white;
    --blackBackG-sec-color: grey;

}
body{
    
}

/* General elements */
h1, h2, h3, h4{
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

p,
.subHeadingP{
    /* font-family: inherit; */
    font-family: var(--font-family-2);
    letter-spacing: 0.1vw;
    /* font-weight: 400;  */
}
.subHeadingP{
    color: var(--whiteBackG-sec-color);
    font-style: italic;
    
}

body{
    margin: 0;
}

section
{
    width: 100%;
    height: 100vh;
}

.homeSec, 
.tourSec,
.moreSec{
    background-color: black;
    color: var(--blackBackG-primary-color);
    position: relative;
    z-index: 0;
    /* For tourSec only */
    display: flex; 
    justify-content: center;
}

.bandSec,
.contactSec{
    position: relative;
    display: flex; 
    justify-content: center;
}


/* Navigation Area */
nav {
    background-color: grey;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul{
    display: inline flex;
    list-style: none;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;

}

/* Home Page Area */
.homeDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.homeDiv h1,
.homeDiv p{
    /* margin: 0; */
    text-align: center;
}

/* Band Area */
.headingDiv{
    position: absolute;
    /* padding: 0 22vw; */
    top: 40px;
    background-color: beige;
    width: 60vw;
    /* No longer necessary since I centered my div
    using the justify-content + display prop in parent class */
    /* left: 0;
    right: 0; */ 
}

.headingDiv h1,
.headingDiv p{
    padding: 0 5vw;
    text-align: center;
}


/* Tour Area */
.tourDiv{
    /* color: black; */
    color: var(--blackBackG-primary-color);
    position: absolute;
    align-items: center;
    /* background-color: beige; */
    border: 1px blue;
    width: 55vw;
    margin: 2rem 0 0 0 ;
    

}

.tourDiv h1,
.tourDiv p{
    text-align: center;
}

.tourDiv p{

}

table {
    color: var(--blackBackG-sec-color);
    border-color: green;
    border-style: dotted;
    border-block-color: grey;
    border-block-style: dotted; 
    background: white;
    margin: 5vh 0;
    
}

table td{
    border-style: none;
    border-bottom-style: solid;
    padding: 10px; 
}
tbody{
    padding: 20px;
    margin: 20px;
}

table span{
    color: white;
    background: red;
    padding: 2px;
}
/* Contact Area */
.contactDiv{
        /* color: black; */
        color: var(--whiteBackG-primary-color);
        position: absolute;
        /* align-items: center; */
        text-align: center;
        /* background-color: beige; */
        border: 1px blue;
        width: 55vw;
        margin: 2rem 0 0 0 ;
}

/* More Area */

